@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

@layer components {
    .component-height {
        min-height: calc(94vh - 4.5rem);
    }
    button,
    [type="button"],
    [type="reset"],
    [type="submit"] {
        @apply bg-primary text-white font-semibold shadow-lg py-2 px-6 rounded-md transition-colors;
    }
    button:hover,
    [type="button"]:hover,
    [type="reset"]:hover,
    [type="submit"]:hover {
        @apply bg-primary-hover;
    }
    button.secondary {
        @apply bg-transparent text-primary font-semibold border-2 border-primary;
    }
    .underlined-link {
        text-decoration: underline;
        text-decoration-thickness: 6;
        text-underline-position: under;
    }
    .input-container {
        @apply relative isolate mt-4 pb-1 transition-colors border-b-2 border-b-gray-300 focus-within:border-b-gray-600;
    }
    .input-container > label {
        @apply block cursor-pointer text-gray-600;
    }
    .input-container > input,
    .input-container > select {
        @apply w-full cursor-pointer focus-visible:outline-none;
    }
    .input-container > select > option {
        @apply text-black;
    }
    .input-container > input[type="password"] {
        @apply pr-6;
    }
    .input-container > svg {
        @apply cursor-pointer absolute right-0 top-1/2;
    }
    .pagination_container {
        @apply mt-14 text-white;
    }
    .pagination_container > .pagination {
        @apply flex flex-wrap items-center justify-center font-semibold;
    }
    .pagination_container > .pagination > li {
        @apply mt-6;
    }
    .pagination_container > .pagination > li > a {
        @apply px-4 py-3 bg-primary hover:bg-primary-hover;
    }
    .pagination_container > .pagination > li.active_page > a,
    .pagination_container > .pagination > li.active_link__page > a {
        @apply bg-primary-hover;
    }
}

.Toastify button[type="button"],
.Toastify button[type="reset"],
.Toastify button[type="submit"] {
    background-color: transparent;
    padding: 0;
    color: #000000;
}
